@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
/* ::-webkit-scrollbar{display: none;} */
body {
  overflow-x: hidden;
}

.landing {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative
}

video {
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.landing h1 {
  position: absolute;
  font-weight: 600;
  font-size: 9.5rem;
  color: white;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

.navbar {
  width: 90vw;
  height: 5rem;
  margin: 3rem auto;
  border-radius: 500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.navbar a{color: white; text-decoration: none; font-weight: 200; font-size: 0.9rem}
.navbar a:hover{text-decoration: underline; text-underline-offset: 10px;}

.social-med-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin-left: auto;
  padding: 0 8px;
}
.social-med-container button{
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagline-container{
  font-size: 3rem;
  width: 100%;
  height: 100%;
  background-color: #FFEB7F;
  border-radius: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tagline-container img{
  width: 30vw;
  mix-blend-mode: darken;

}
p{
  width: 50vw !important;
  padding: 0 2vw;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 7vh;
}







@keyframes slideLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
@keyframes slideRight {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}
.logos, .footer-tape-wrapper {
  overflow: hidden;
  padding: 60px 0;
  background: black;
  white-space: nowrap;
  position: relative;
  margin: 20px 0;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
}
.logos-slide-left{ animation: 15s slideLeft infinite linear; }
.logos-slide-right{ animation: 15s slideRight infinite linear; }

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}




/* calendar css  */
.calendar-container{
  width: 90vw;
  background-color: #C7F27F;
  border-radius: 60px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
}
.top-bottom-border{
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 50%;
}
.flexbox{
  display: flex;
  justify-content: center;
  align-content: center;
}
.calendar-container h2{
  font-size: 10rem;
  padding: 5vh 0;
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.vl{height: 100%; border-right: 1px solid;}


.footer-tape-wrapper{
  overflow: hidden;
  margin: 3rem 0;
  padding: 30px 0;
}
.footer-tape{
  color: #fff;
  font-size: 6rem;
  font-weight: 200;
  display: inline-flex;
  column-gap: 2.5rem;
  align-items: center;
  margin: 0 0vw;
  padding: 0 7vw;
}
.footer-tape img{
  height: 5.5rem;
}
.footer-tape-wrapper:hover .footer-tape{
  animation-play-state: paused;
}


.world-clock-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.2rem;
  row-gap: 7px;
}
.world-clock-wrapper div{
  background: #fff;
  font-size: 1.3rem;
  padding: 5px 10px;
  color: black;
  border-radius: 500px;
}







/* responsiveness  */
@media screen and (max-width: 580px) {
  .landing h1 { font-size: 6rem; }
  .tagline-container{font-size: 2rem;}
  
}

